/* место для вашего кода */

.content-section {
  max-width: 1440px;
  margin: 0 auto;
}

.address {
  padding-top: 6px;
  justify-self: end;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
}
.address a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.address-p {
  padding-top: 0;
}
/* для помещения в начале ячейки адресс */
.address-g {
  padding-top: 2px;
  justify-self: start;
}

.header {
  padding: 92px 49px 92px 51px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header__menu {
  align-self: center; 
  padding-left: 1px;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.header__links-list-item {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  list-style: circle;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.header__link_active {
  border-bottom: 0px solid #000;
}
.header__logo {
  justify-self: center;
  display: block;
  width: 137px;
}
.header__address {
  width: 240px;
  font-style: normal;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  margin-bottom: 180px;
  background: url(/images/cover-min.jpg) center center/cover no-repeat;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 0;
}
.cover__title {
  position: relative;
  margin-bottom: 126px;
  min-width: 1340px;
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.aligned-text {
  display: block;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_center-m {
  margin: 7px 0 3px 0;
  margin-left: -29px; 
}
.aligned-text_right {
  text-align: right;
}
.aligned-text_right-m {
  margin-right: -29px;
}
.no-letter-spacing {
  letter-spacing: normal;
}
.letter-spacing-extended {
  letter-spacing: 7px;
}
.cover__description {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 78px;
  z-index: 2;
}
.cover__description-text {
  color: #FFF;
  align-self: center;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18px;
  line-height: 1.27;
  text-transform: uppercase;
}
.bet-button {
  width: 257px;
  height: 52px;
  border: 1px solid #FFF;
  background-color: transparent;

  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.lots {
  padding: 0 50px 0 50px;
  margin-bottom: 180px;
  
}
.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}
.lots__card-list-item {
  flex-grow: 1;
  position: relative;
  width: 430px;
  min-height: 450px;
}
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.card_type_film {
  background: url(/images/card-lot-01-min.jpg) center center/cover no-repeat;
}
.card_type_book {
  background: url(/images/card-lot-02-min.jpg) center center/cover no-repeat;
}
.card_type_picture {
  background: url(/images/card-lot-03-min.jpg) center center/cover no-repeat;
}
.card__title {
  z-index: 1;
  padding: 50px 40px 0 40px;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card__text {
  padding: 0 40px 50px;
  z-index: 1;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.lots__look-more-link {
  text-decoration: none;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #000;
}
.about {
  padding: 0 50px;
  margin-bottom: 180px;
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: 487px;
  gap: 25px;
}
.about__column-text {
  align-self: end;
}
.about__logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 100%;
}
.about__logo-image {
  width: 147px;
}
.about__title {
  margin-bottom: 97px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;

  font-size: 20px;
  font-weight: 400;
}

.footer {
  padding: 0 50px 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__menu {
  justify-self: center;
}
.footer__menu-list {
  padding-top: 3px;
  list-style: none;
  text-align: center;
}
.footer__menu-list-item {
  font-size: 18px;
  font-weight: 400;
}
.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.footer__menu-link_active {
  border-bottom: 0 solid #000;
}
.footer__social-list {
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
  list-style: none;
}
.footer__social-link {
  display: block;
  width: 48px;
}